@font-face {
  font-family:"Chess Alpha";
  src:url("../font/Alpha.eot?") format("eot"),
  url("../font/Alpha.woff") format("woff"),
  url("../font/Alpha.ttf") format("truetype"),
  url("../font/Alpha.svg#") format("svg");
  font-weight:normal;
  font-style:normal;
}


body {
  background: #312e2b;
}


#chessboard-container {
  font-family: 'Chess Alpha';
  width: 75vh;
  height: 75vh;
  margin: 12.5vh auto 0 auto;
  background: #eeeed2;
}

.chess-space {
  width: 9.375vh;
  height: 9.375vh;
  float: left;
}


.chess-space p {
  font-size: 8vh;
  /*font-size: 14px;*/

  text-align: center;
  margin: .5vh 0 0 0;
  cursor: pointer;
}

#chessboard-container div:nth-child(-2n+8),
#chessboard-container div:nth-child(8) ~ div:nth-child(-2n+15),
#chessboard-container div:nth-child(16) ~ div:nth-child(-2n+24),
#chessboard-container div:nth-child(24) ~ div:nth-child(-2n+31),
#chessboard-container div:nth-child(32) ~ div:nth-child(-2n+40),
#chessboard-container div:nth-child(40) ~ div:nth-child(-2n+47),
#chessboard-container div:nth-child(48) ~ div:nth-child(-2n+56),
#chessboard-container div:nth-child(56) ~ div:nth-child(-2n+63) {
  background-color: #769656;
}
